*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@import "./sections/section-1";

@import "./sections/variablesMixins";
@import "./sections/section-2";
@import "./sections/section-3";
@import "./sections/section-4";
@import "./sections/section-5";
@import "./sections/footer";

body {
    width: 100%;
    height: 100%;
}

section {
    padding: 50px 100px;
}

a {
    text-decoration: none;
    padding: 10px 30px;
    transition: .3s
}

.btn {
    @include smlTxt;
    background-color: #fff;
    border-radius: 30px;
}